<h1 class="page-title color-gradient-blue">Meet Our Team</h1>

<div class="grid sm:grid-cols-1 lg:grid-cols-2 gap-4">
  <div>
    <p class="page-paragraph-lg">
      Our Leaders are top notch technology professionals who are experienced in
      organizing events, engaging in speaking and mentoring aspiring developers,
      They are not only capable of teaching angular but also skilled and capable
      of different frameworks and technologies
    </p>
  </div>
  <!-- ... -->
  <div></div>
</div>

<br /><br />

<div class="">
  <!---community leads section-->

  <h1 class="page-sub-title color-gradient-pink">Community Leads</h1>
  <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 mt-10 gap-4">
    @for(item of communityLeadItems(); track $index) {
    <lib-avatar
      class="items-center justify-center"
      name="{{ item.name }}"
      description="{{ item.description }}"
      thumbnail="{{ item.thumbnail }}"
    />
    }
  </div>
</div>
<!---community leads section-->
