<div class="container fade-in">
  
  <div class="flex justify-center items-center mt-10 gap-4"> 
    <div class=""></div>
    <div class="text-center">
      <img
        class="mx-auto"
        src="./images/angularph-logo.png"
        style="height: 300px; width: auto"
        alt="AngularPH Logo"
      />
      <h1 class="angularph-text font-bold">AngularPH</h1>
      <br /><br />
      <div class="max-w-[700px]">
        <p class="text-lg tracking-wide">{{ description() }}</p>
      </div>
      <br /><br />
    </div>
    <!-- ... -->
    <div></div>
  </div>
  <!--grid row-->

  <div class="grid sm:grid-cols-2 lg:grid-cols-3 mt-10 gap-4">
    <div>
      <img class="mx-auto" src="./photos/featured-5.png" alt="Featured 5" />
    </div>
    <div>
      <img class="mx-auto" src="./photos/featured-2.png" alt="Featured 2" />
    </div>
    <div>
      <img class="mx-auto" src="./photos/featured-3.png" alt="Featured 3" />
    </div>
  </div>
  <!--grid row-->

  <app-founding />

  <app-our-numbers />

  <app-our-team />

  <div class="grid sm:grid-cols-2 lg:grid-cols-3 mt-20 gap-4">
    <div>
      <img
        class="mx-auto shadow-primary"
        src="./photos/featured-5.png"
        alt="Featured 5"
      />
    </div>
    <div>
      <img
        class="mx-auto shadow-primary"
        src="./photos/featured-6.png"
        alt="Featured 6"
      />
    </div>

    <div>
      <img
        class="mx-auto shadow-primary"
        src="./photos/featured-4.png"
        alt="Featured 4"
      />
    </div>
  </div>
  <!--grid row-->

  <app-upcoming />
  <app-previous-events />
  <app-join-our-fb />
</div>
<!--container-->
