<div class="container">
  <div
    class="flex justify-center items-center mt-10 gap-4"
    appScrollAnimation
    animationType="fadeIn"
    animationDuration="1000"
  >
    <div class=""></div>
    <div class="text-center">
      <img
        class="mx-auto"
        src="./images/angularph-logo.png"
        style="height: 300px; width: auto"
        alt="AngularPH Logo"
      />
      <h1 class="angularph-text font-bold">AngularPH</h1>
      <br /><br />
      <div class="max-w-[700px]">
        <p class="text-lg tracking-wide">{{ description() }}</p>
      </div>
      <br /><br />
    </div>
    <!-- ... -->
    <div></div>
  </div>
  <!--grid row-->

  <div class="grid sm:grid-cols-2 lg:grid-cols-3 mt-10 gap-4">
    <div>
      <img class="mx-auto" src="./photos/featured-5.png" alt="Featured 5" />
    </div>
    <div>
      <img class="mx-auto" src="./photos/featured-2.png" alt="Featured 2" />
    </div>
    <div>
      <img class="mx-auto" src="./photos/featured-3.png" alt="Featured 3" />
    </div>
  </div>
  <!--grid row-->

  <div
    appScrollAnimation
    animationType="fadeIn"
    animationDuration="800"
    animationDelay="200"
  >
    <app-founding />
  </div>

  <div
    appScrollAnimation
    animationType="fadeInUp"
    animationDuration="800"
    animationDelay="200"
  >
    <app-our-numbers />
  </div>

  <div
    appScrollAnimation
    animationType="fadeIn"
    animationDuration="800"
    animationDelay="200"
  >
    <app-our-team />
  </div>

  <div
    class="grid sm:grid-cols-2 lg:grid-cols-3 mt-20 gap-4"
    appScrollAnimation
    animationType="fadeInUp"
    animationDuration="800"
  >
    <div>
      <img
        class="mx-auto shadow-primary"
        src="./photos/featured-5.png"
        alt="Featured 5"
      />
    </div>
    <div>
      <img
        class="mx-auto shadow-primary"
        src="./photos/featured-6.png"
        alt="Featured 6"
      />
    </div>

    <div>
      <img
        class="mx-auto shadow-primary"
        src="./photos/featured-4.png"
        alt="Featured 4"
      />
    </div>
  </div>
  <!--grid row-->

  <div
    appScrollAnimation
    animationType="fadeInLeft"
    animationDuration="800"
    animationDelay="200"
  >
    <app-upcoming />
  </div>
  <div
    appScrollAnimation
    animationType="fadeInRight"
    animationDuration="800"
    animationDelay="200"
  >
    <app-previous-events />
  </div>
  <div
    appScrollAnimation
    animationType="fadeIn"
    animationDuration="800"
    animationDelay="200"
  >
    <app-join-our-fb />
  </div>
</div>
<!--container-->
