<div class="container fade-in">
  <h1 class="page-title color-gradient1">About Us</h1>

  <app-founding />

  <br /><br />
  <div class="grid sm:grid-cols-2 lg:grid-cols-2 mt-10 lg:p-10 gap-10 gap-4">
    <div>
      <img src="{{ missionPhoto() }}" alt="Mission Image" />
    </div>

    <div>
      <h1 class="page-sub-title">Mission</h1>

      <p>{{ missionDescription() }}</p>
    </div>
  </div>

  <div class="grid sm:grid-cols-2 lg:grid-cols-2 mt-10 lg:p-10 gap-10 gap-4">
    <div>
      <h1 class="page-sub-title">Vision</h1>

      <p>{{ visionDescription() }}</p>
    </div>
    <!-- ... -->
    <div>
      <img src="{{ visionPhoto() }}" alt="Vision Image" />
    </div>
  </div>
</div>
<!--container-->
