<div
  class="grid sm:grid-cols-2 lg:grid-cols-4 mt-30 lg:p-10 gap-10 text-center"
>
  <div>
    <h1 class="page-title color-gradient-dark-pink">
      {{ fbGroupMembersCount() }}+
    </h1>
    <p class="text-lg">Facebook Group Member</p>
  </div>
  <div>
    <h1 class="page-title color-gradient-pink">{{ fbFollowersCount() }}</h1>
    <p class="text-lg">Facebook Page Followers</p>
  </div>
  <div>
    <h1 class="page-title color-gradient-dark-pink">{{ seminarsCount() }}+</h1>
    <p class="text-lg">Seminars, events, meetup, podcasts conducted</p>
  </div>
  <div>
    <h1 class="page-title color-gradient-pink">{{ yearsCount() }}</h1>
    <p class="text-lg">Years serving the Philippines Tech Community</p>
  </div>
</div>
